$govuk-assets-path: "/report-quarterly/income-and-expenses/sign-up/eligibility/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/report-quarterly/income-and-expenses/sign-up/eligibility/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

body:not(.js-enabled) {
    a.govuk-back-link[href*="javascript"] {
      display: none;
    }
}

.govuk-list--bold-marker > li::marker {
  font-weight: bold;
}